<div *ngFor="let league of (leagues)">
  {{ log(league) }}
  {{ league.competition_name }}
</div>

<div *ngFor="let team of (teams)">
  {{ log(team) }}
  {{ team.name }}
</div>

<p-table [value]="matches" sortField="competition_id" sortMode="single" (onSort)="onSort()" *ngIf="matches.length > 0" (sortFunction)="customSort($event)">
  <ng-template pTemplate="header">
    <tr>
      <th style="width:20%" [pSortableColumn]="competition_id">Competition<p-sortIcon [field]="competition_id"></p-sortIcon></th>
      <th style="width:60%" [pSortableColumn]="homeTeam">Match<p-sortIcon [field]="homeTeam"></p-sortIcon></th>
      <th style="width:20%" [pSortableColumn]="status">Status<p-sortIcon [field]="status"></p-sortIcon></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
    <tr>
      <td *ngIf="rowGroupMetadata[rowData.competition_id].index === rowIndex" [attr.rowspan]="rowGroupMetadata[rowData.competition_id].size">
        {{rowData.competition_id}}
      </td>
      <td>{{rowData.homeTeam}} vs. {{ rowData.awayTeam }}</td>
      <td>{{rowData.status}}</td>
    </tr>
  </ng-template>
</p-table>
